{
    "Port": 2222,
    "SSHKey": "~/.ssh/id_ed25519",
    "IPSet": {
        "All": ["::/0", "0.0.0.0/0"],
        "CommonDeny": [
            "fc00::/7",
            "0.0.0.0/8",
            "10.0.0.0/8",
            "172.16.0.0/12",
            "192.168.0.0/16",
            "127.0.0.0/8",
            "169.254.0.0/16"
        ]
    },
    "Policy": {
        "All": {
            "Default": "allow",
            "Deny": ["CommonDeny"],
            "SameL2": true
        }
    }
}