{
    "Port": 2222,
    "SSHKey": "raw:-----BEGIN OPENSSH PRIVATE KEY-----\nb3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZWQyNTUxOQAAACClDM6O/IuKaWBZd3WGIzNp8YGm1QUEOP8Eu3r7OE3CIwAAAKg6xwCNOscAjQAAAAtzc2gtZWQyNTUxOQAAACClDM6O/IuKaWBZd3WGIzNp8YGm1QUEOP8Eu3r7OE3CIwAAAECxdjnWIVxohxaQTLUljuRmNfSNlGpWoO/4oZQHwUEO16UMzo78i4ppYFl3dYYjM2nxgabVBQQ4/wS7evs4TcIjAAAAI2hhbXB0b25AZGVza3RvcC5ib3MwMS5oYW1teS5uZXR3b3JrAQI=\n-----END OPENSSH PRIVATE KEY-----",
    "IPSet": {
        "All": ["::/0", "0.0.0.0/0"]
    },
    "Policy": {
        "All": {
            "Default": "allow"
        }
    }
}